<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456408330601-ft8f17uk5k3necanmuiiov97u7g3hg1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456408330601-ft8f17uk5k3necanmuiiov97u7g3hg1f</string>
	<key>API_KEY</key>
	<string>GOOGLE_SERVICE_API_KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>456408330601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>spruuk.com.spruuk</string>
	<key>PROJECT_ID</key>
	<string>spruuk</string>
	<key>STORAGE_BUCKET</key>
	<string>spruuk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456408330601:ios:e70c053f131d91b2e0cdf8</string>
</dict>
</plist>